[Unit]
Description = Provide filtered information from MSR to non root users

[Service]
Type = simple
ExecStart = /usr/local/src/cpustatsd/cpustatsd.sh

[Install]
WantedBy = multi-user.target
